.crowns .feedback {
  padding-top: 100px; }
  .crowns .feedback .small {
    text-decoration: line-through;
    font-size: 19px; }
  .crowns .feedback .feedback-text_list ul {
    margin: 10px 0 30px; }
