.no-touch .btn1:hover,
.no-touch .btn2:hover {
  opacity: 0.8; }

.no-touch .directions-item ul a:hover:after,
.no-touch .main-footer-link:hover:after {
  width: 0; }

.no-touch .cost .tab_list a:hover {
  color: white;
  background-color: #008abb; }
  .no-touch .cost .tab_list a:hover:after {
    opacity: 0; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "CenturyGothic", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none;
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

ul li,
ol li,
menu li {
  list-style: none; }

ul, ol, menu {
  display: block;
  margin: 0;
  padding-left: 0; }

button {
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

.btn1 {
  display: inline-block;
  color: black;
  font-family: "CenturyGothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 300px;
  background-color: white;
  padding: 9.5px 28px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.btn2 {
  display: inline-block;
  color: black;
  font-family: "CenturyGothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffcc00;
  border-radius: 300px;
  padding: 18px 33px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.hidden {
  display: none; }

.site-wrap {
  overflow: hidden; }

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  width: 100%;
  max-width: 1190px; }

.main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 51px;
  padding-bottom: 35px;
  border-bottom: 1px solid white; }
  .main-header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main-header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 284px;
    width: 100%; }
  .main-header-logo-img {
    max-width: 110px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 7px;
    border: 3px solid white; }
  .main-header-logo-text {
    max-width: 162px;
    width: 100%; }
    .main-header-logo-text span {
      display: block;
      color: white;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase; }
  .main-header-adress-wrap p {
    color: white;
    font-size: 14px; }
  .main-header-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 337px;
    width: 100%; }
  .main-header-tel {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 700; }

.banner {
  position: relative; }
  .banner > .container {
    position: static; }
  .banner-wrap {
    position: relative; }
  .banner-title {
    max-width: 655px;
    width: 100%;
    margin-left: 77px;
    margin-bottom: 24px;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: 0;
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }
    .banner-title h1 {
      color: white;
      font-size: 60px;
      font-weight: 700;
      line-height: 60px; }
      .banner-title h1 b {
        font-weight: 700;
        color: #ffcc33; }
  .banner-form {
    position: absolute;
    z-index: 2;
    bottom: 182px;
    left: 50%;
    -webkit-transform: translateX(-498px);
    transform: translateX(-498px); }
  .banner-slider {
    background-color: #008abb;
    border-bottom: 76px solid #0099cc;
    position: relative; }
    .banner-slider .swiper-slide {
      height: auto;
      opacity: 0 !important; }
    .banner-slider .swiper-slide-active {
      opacity: 1 !important; }
      .banner-slider .swiper-slide-active .banner-list {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      .banner-slider .swiper-slide-active .banner-title {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0); }
  .banner-slider-nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-579px);
    transform: translateX(-579px);
    bottom: -88px;
    max-width: 192px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 34.5px 40px; }
    .banner-slider-nav:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      top: 0;
      right: 0;
      width: 10000px;
      background-color: #fff; }
  .banner-item-wrap {
    min-height: 690px;
    padding-top: 267px;
    padding-bottom: 210px; }
    .banner-item-wrap:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../img/banner-item-bg.jpg) center/cover no-repeat;
      opacity: 0.3; }
  .banner-slider-bg1 {
    position: absolute;
    top: 57.5%;
    left: 50%;
    -webkit-transform: translateX(-580px) translateY(-50%);
    transform: translateX(-580px) translateY(-50%);
    width: 388px;
    height: 445px;
    background-color: #008abb; }
  .banner-slider-bg2 {
    position: absolute;
    top: 63.2%;
    left: 50%;
    -webkit-transform: translateX(-550px) translateY(-50%);
    transform: translateX(-550px) translateY(-50%);
    width: 388px;
    height: 445px;
    background-color: rgba(4, 83, 111, 0.5); }
  .banner-list {
    position: relative;
    z-index: 2;
    max-width: 610px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 85px;
    margin-top: -25px;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    opacity: 0;
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }
  .banner-item {
    width: 32%;
    color: white;
    font-size: 14px;
    line-height: 14px;
    padding-left: 46px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 25px; }
    .banner-item i {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0; }

.directions {
  padding-top: 83px;
  padding-bottom: 60px; }
  .directions h2 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 38px; }
  .directions-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -25px; }
  .directions-item {
    width: 31.5%;
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.33);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.33);
    border: 1px solid #d7d7d7;
    background-color: #02769c;
    background: linear-gradient(-108deg, #02769c 0%, #52b9dc 100%);
    padding: 34px 20px 20px 20px;
    margin-top: 25px;
    min-height: 355px; }
    .directions-item ul {
      max-width: 264px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .directions-item ul li {
        margin-bottom: 12px;
        padding-left: 21px;
        position: relative; }
        .directions-item ul li:after {
          content: '';
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0;
          width: 5px;
          height: 1px;
          background-color: #fff; }
        .directions-item ul li:last-child {
          margin-bottom: 0; }
      .directions-item ul a {
        display: inline-block;
        color: white;
        font-size: 14px;
        letter-spacing: 1.05px;
        position: relative; }
        .directions-item ul a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 100%;
          height: 1px;
          background-color: #fff;
          -webkit-transition: width 0.3s;
          transition: width 0.3s; }
  .directions-item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 42px;
    min-height: 60px; }
    .directions-item-title i {
      max-width: 110px;
      width: 100%;
      text-align: center; }
    .directions-item-title h3 {
      color: white;
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 1.35px;
      width: calc(100% - 115px); }

.feedback {
  padding-top: 39px;
  padding-bottom: 75px;
  overflow: hidden;
  position: relative; }
  .feedback-bg1 {
    content: '';
    position: absolute;
    z-index: -1;
    top: 224px;
    left: 0;
    right: 0;
    height: 5000px;
    background-color: #f9f9f9; }
  .feedback-bg2 {
    content: '';
    position: absolute;
    z-index: -1;
    top: 165px;
    right: calc(100% + 14px);
    width: 10000px;
    height: 20px;
    background-color: #008abb; }
  .feedback-wrap {
    background-color: #0099cc;
    padding: 82px 30px 41px 77px;
    position: relative;
    z-index: 1; }
  .feedback-text {
    position: relative; }
    .feedback-text h2 {
      color: white;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 4px; }
      .feedback-text h2 b {
        font-size: 18px;
        font-weight: 400; }
    .feedback-text h3 {
      color: white;
      font-size: 18px;
      margin-bottom: 25px; }
      .feedback-text h3 b {
        font-size: 30px;
        font-weight: 700;
        margin-right: 10px; }
    .feedback-text .btn2 {
      padding: 20.5px 27.5px; }
  .feedback-wrap-bg {
    position: absolute;
    background-color: rgba(0, 102, 153, 0.3);
    top: 30px;
    bottom: -30px;
    left: 30px;
    right: -30px; }
    .feedback-wrap-bg:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 30px;
      right: 30px;
      width: 915px;
      background: url(../img/feedback-bg.png) center/cover no-repeat; }

.aboutClinic {
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
  background-color: #f9f9f9; }
  .aboutClinic-bg {
    position: absolute;
    top: -177px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1920px; }
  .aboutClinic h2 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px; }
  .aboutClinic-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 1; }
  .aboutClinic-wrap1 {
    width: calc(100% - 390px); }
  .aboutClinic-text {
    margin-bottom: 59px; }
    .aboutClinic-text p {
      color: #666666;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 14px; }
      .aboutClinic-text p:last-child {
        margin-bottom: 0; }
  .aboutClinic-list1 {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 38px 83px 45px 38px;
    position: relative;
    margin-bottom: 77px; }
    .aboutClinic-list1:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 2px;
      background-color: #5674b9; }
    .aboutClinic-list1 b {
      display: block;
      color: #3366ff;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 8px; }
    .aboutClinic-list1 span {
      display: block;
      color: #333333;
      font-size: 14px;
      line-height: 14px; }
  .aboutClinic-list2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
    .aboutClinic-list2:after {
      content: '';
      position: absolute;
      top: 34px;
      left: 20px;
      right: 120px;
      height: 5px;
      border-radius: 3px;
      background-color: #008abb; }
    .aboutClinic-list2 li {
      width: 23.5%;
      color: #666666;
      font-size: 14px;
      line-height: 18px;
      padding-top: 95px;
      position: relative; }
      .aboutClinic-list2 li:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 73px;
        height: 73px;
        -webkit-box-shadow: 0 0 38px rgba(0, 0, 0, 0.24);
        box-shadow: 0 0 38px rgba(0, 0, 0, 0.24);
        background: white url(../img/check-icon.png) center no-repeat;
        border-radius: 50%; }
  .aboutClinic-wrap2 {
    max-width: 450px;
    width: 100%;
    margin-right: -80px;
    margin-top: -83px; }
  .aboutClinic-slider {
    position: relative;
    padding-bottom: 8px; }
    .aboutClinic-slider .swiper-container {
      overflow: hidden;
      padding: 80px; }
  .aboutClinic-item {
    -webkit-box-shadow: 0 0 57px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 57px rgba(0, 0, 0, 0.24); }
    .aboutClinic-item img {
      width: 100%;
      height: auto; }
  .aboutClinic-slider-nav {
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 157px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .aboutClinic-slider-nav .swiper-button-prev-style2, .aboutClinic-slider-nav .swiper-button-next-style2 {
      position: static;
      -webkit-transform: none;
      transform: none; }
    .aboutClinic-slider-nav .swiper-button-prev-style2, .aboutClinic-slider-nav .swiper-container-rtl .swiper-button-next-style2 {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

.gallery {
  padding-top: 45px;
  padding-bottom: 30px;
  overflow: hidden;
  position: relative; }
  .gallery:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 260px;
    left: 0;
    right: 0;
    height: 5000px;
    background-color: #f9f9f9; }
  .gallery h2 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 42px; }
  .gallery-slider {
    position: relative;
    padding: 0px 59px; }
    .gallery-slider .swiper-slide {
      width: auto; }
  .gallery-img-big {
    display: block;
    max-width: 400px;
    width: 100%; }
  .gallery-img-small {
    max-width: 392px;
    width: 100%;
    display: block;
    margin-bottom: 11px; }
    .gallery-img-small:last-child {
      margin-bottom: 0; }

.cases {
  padding-top: 68px;
  padding-bottom: 75px; }
  .cases h2 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 42px; }
  .cases-slider {
    position: relative; }
  .cases-slider-nav {
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
    max-width: 126px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .cases-slider-nav .swiper-button-prev-style2, .cases-slider-nav .swiper-button-next-style2 {
      position: static;
      -webkit-transform: none;
      transform: none; }
    .cases-slider-nav .swiper-button-prev-style2, .cases-slider-nav .swiper-container-rtl .swiper-button-next-style2 {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .cases-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .cases-item-wrap {
    max-width: 485px;
    width: 100%;
    position: relative;
    padding-bottom: 77px; }
    .cases-item-wrap:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      width: 80%;
      height: 200px;
      background-color: #f6f6f6; }
    .cases-item-wrap .twentytwenty-left-arrow {
      border-right: 6px solid #008abb; }
    .cases-item-wrap .twentytwenty-right-arrow {
      border-left: 6px solid #008abb; }
  .cases-item-img-wrap img {
    width: 100%;
    height: auto; }
  .cases-item-text {
    width: calc(100% - 485px);
    padding: 20px 77px 31px 31px;
    background-color: #f6f6f6;
    margin-top: 65px; }
  .cases-list {
    margin-bottom: 30px; }
    .cases-list li {
      margin-bottom: 30px; }
      .cases-list li:last-child {
        margin-bottom: 0; }
    .cases-list h3 {
      color: black;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 11px; }
    .cases-list p {
      color: #666666;
      font-size: 14px;
      line-height: 14px; }
  .cases-item-doctor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .cases-item-doctor .btn2 {
      padding: 14px 22px;
      -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.14);
      box-shadow: 0 0 32px rgba(0, 0, 0, 0.14); }
  .cases-item-doctor-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 225px;
    width: 100%; }
  .cases-item-doctor-info-img {
    max-width: 65px;
    width: 100%;
    border-radius: 50%;
    overflow: hidden; }
  .cases-item-doctor-info-text {
    width: calc(100% - 87px); }
    .cases-item-doctor-info-text span {
      display: block;
      color: #666666;
      font-size: 14px;
      margin-bottom: 5px; }
    .cases-item-doctor-info-text b {
      display: block;
      color: black;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px; }

.cost {
  padding-top: 50px;
  padding-bottom: 50px; }
  .cost h2 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 23px; }
  .cost .tab_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 1025px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .cost .tab_list a {
      display: inline-block;
      color: #0099cc;
      font-size: 14px;
      padding: 13.5px 37px;
      position: relative;
      border-radius: 300px;
      -webkit-transition: color 0.3s, background-color 0.3s;
      transition: color 0.3s, background-color 0.3s; }
      .cost .tab_list a:after {
        content: '';
        position: absolute;
        bottom: 12px;
        left: 37px;
        right: 37px;
        border-bottom: 2px dotted #0099cc;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
      .cost .tab_list a.active {
        color: white;
        background-color: #008abb; }
        .cost .tab_list a.active:after {
          opacity: 0; }
  .cost-tab {
    padding: 46px 90px 63px 82px;
    -webkit-box-shadow: 0 0 38px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.16);
    border-radius: 15px; }
  .cost-main-list-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px; }
    .cost-main-list-title span {
      color: black;
      font-size: 14px; }
  .cost-item {
    margin-bottom: 40px; }
    .cost-item:last-child {
      margin-bottom: 0; }
    .cost-item h3 {
      color: black;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
      padding-left: 13px; }
  .cost-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 13px;
    padding-bottom: 4.8px;
    margin-bottom: 4.8px;
    border-bottom: 1px solid #d7d7d7; }
    .cost-list li:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none; }
    .cost-list li span {
      color: black;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .cost-list li span i {
        display: inline-block;
        margin-left: 20px;
        font-style: normal;
        color: white;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 300px;
        background-color: #9e0b0f;
        padding: 5px 17.5px; }
    .cost-list li b {
      color: black;
      font-size: 14px;
      font-weight: 400; }

.specialists {
  padding-top: 59px;
  padding-bottom: 50px; }
  .specialists h2 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center; }
  .specialists-slider1 {
    position: relative;
    margin-bottom: 17px;
    padding: 0px 75px; }
  .specialists-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .specialists-item-img {
    max-width: 296px;
    width: 100%; }
  .specialists-item-text {
    width: calc(100% - 296px);
    padding: 0 24px 24px 24px;
    margin-top: -4px; }
    .specialists-item-text .btn2 {
      padding: 19px 31px; }
    .specialists-item-text b {
      display: block;
      color: #0099cc;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 5px; }
    .specialists-item-text h3 {
      color: black;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 17px; }
  .specialists-list1 {
    margin-bottom: 20px; }
    .specialists-list1 li {
      color: #333333;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 2px; }
      .specialists-list1 li:last-child {
        margin-bottom: 0; }
  .specialists-list2 {
    margin-bottom: 30px; }
    .specialists-list2 li {
      color: #333333;
      font-size: 14px;
      line-height: 18px; }
  .specialists-slider2 {
    position: relative;
    max-width: 676px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .specialists-slider2 .swiper-slide-thumb-active .specialists-item-nav:after {
      opacity: 0; }
  .specialists-item-nav {
    cursor: pointer; }
    .specialists-item-nav img {
      width: 100%;
      height: auto; }
    .specialists-item-nav:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(244, 244, 244, 0.5);
      opacity: 1;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }

.reviews {
  padding-top: 47px; }
  .reviews h2 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700; }
  .reviews-slider {
    position: relative;
    max-width: 845px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px; }
    .reviews-slider .swiper-container {
      padding: 35px; }
  .reviews-item {
    -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.31);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.31);
    background-color: #008abb;
    padding: 55px 62px 39px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .reviews-item-img {
    max-width: 125px;
    width: 100%; }
  .reviews-item-text {
    width: calc(100% - 125px);
    padding: 0 31px 18px 18px; }
    .reviews-item-text p {
      color: white;
      font-size: 14px;
      line-height: 18px;
      position: relative;
      padding-top: 27px;
      padding-bottom: 26px; }
      .reviews-item-text p:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 5px;
        width: 6px;
        height: 16px;
        background: url(../img/reviews-icon1.png) center no-repeat; }
      .reviews-item-text p:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: -13px;
        width: 6px;
        height: 16px;
        background: url(../img/reviews-icon2.png) center no-repeat; }
    .reviews-item-text h3 {
      color: white;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 1px;
      margin-top: -2px; }
    .reviews-item-text b {
      display: block;
      color: white;
      font-size: 12px;
      font-weight: 400; }

.questions {
  padding-top: 252px;
  padding-bottom: 97px;
  margin-top: -179px;
  background-color: #f4f4f4;
  position: relative; }
  .questions:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 327px;
    height: 15px;
    background-color: #008abb; }
  .questions:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 277px;
    height: 27px;
    background-color: #008abb; }
  .questions h2 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 43px; }
  .questions-list {
    max-width: 775px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .questions-item {
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
    border-radius: 27px;
    background-color: #fcfcfc;
    margin-bottom: 15px; }
    .questions-item:last-child {
      margin-bottom: 0; }
    .questions-item .open_toggle {
      padding: 17.5px 36px;
      padding-right: 60px;
      cursor: pointer;
      position: relative;
      color: #333333;
      font-size: 14px;
      font-weight: 400; }
      .questions-item .open_toggle:after {
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 32px;
        width: 15px;
        height: 9px;
        background: url(../img/arrow2.png) center no-repeat;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s; }
      .questions-item .open_toggle.active {
        font-weight: 700; }
        .questions-item .open_toggle.active:after {
          -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg); }
    .questions-item .block_toggle {
      padding: 0px 36px 18px 36px;
      color: #999999;
      font-size: 14px;
      line-height: 24px; }

.contacts {
  background-color: #0099cc; }
  .contacts .container {
    padding-top: 77px;
    padding-bottom: 245px; }
  .contacts-title1 {
    text-align: center;
    max-width: 725px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px; }
    .contacts-title1 h2 {
      color: white;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 16px; }
    .contacts-title1 p {
      color: white;
      font-size: 14px;
      line-height: 14px; }
  .contacts-form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px; }
    .contacts-form.main-form {
      max-width: 414px; }
    .contacts-form .main-form-wrap {
      margin-bottom: 16px; }
      .contacts-form .main-form-wrap .btn2 {
        max-width: 117px;
        padding: 13.5px 10px;
        font-size: 12px; }
    .contacts-form b {
      display: block;
      color: white;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      max-width: 390px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
    .contacts-form .input {
      width: calc(100% - 117px);
      padding: 12px 10px;
      padding-left: 22px;
      font-size: 12px; }
      .contacts-form .input::-webkit-input-placeholder {
        color: #cccccc;
        font-size: 12px; }
      .contacts-form .input::-moz-placeholder {
        color: #cccccc;
        font-size: 12px; }
      .contacts-form .input:-ms-input-placeholder {
        color: #cccccc;
        font-size: 12px; }
      .contacts-form .input::-ms-input-placeholder {
        color: #cccccc;
        font-size: 12px; }
      .contacts-form .input::placeholder {
        color: #cccccc;
        font-size: 12px; }
  .contacts-title2 {
    margin-bottom: 31px; }
    .contacts-title2 h2 {
      color: white;
      font-size: 30px;
      font-weight: 700;
      text-align: center; }
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .contacts-item {
    width: 30%;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 14px; }
    .contacts-item a {
      color: white; }
    .contacts-item span {
      display: block;
      max-width: 176px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
  .contacts-item-img {
    margin-bottom: 20px; }
  .contacts-map {
    position: absolute;
    z-index: 1;
    bottom: -99px;
    left: 15px;
    right: 15px;
    height: 340px;
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.4); }
    .contacts-map script {
      width: 100%;
      height: 340px; }

.main-footer-wrap1 {
  padding-top: 150px;
  padding-bottom: 19px;
  padding-right: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-footer-wrap1 p {
    margin-left: auto;
    margin-right: 126px;
    max-width: 268px;
    width: 100%;
    color: #333333;
    font-size: 14px;
    line-height: 18px; }

.main-footer-logo {
  max-width: 277px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-footer-logo-img {
  max-width: 110px;
  width: 100%;
  border: 3px solid #008abb;
  padding: 4px;
  text-align: center; }

.main-footer-logo-text {
  max-width: 162px;
  width: 100%;
  color: black;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }

.main-footer-tel {
  display: block;
  color: black;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: -6px; }

.main-footer-link {
  display: inline-block;
  color: #0099cc;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  position: relative; }
  .main-footer-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1px;
    background-color: #0099cc;
    width: 100%;
    -webkit-transition: width 0.3s;
    transition: width 0.3s; }

.main-footer-wrap2 {
  padding-top: 18px;
  padding-bottom: 42px; }
  .main-footer-wrap2 p {
    color: #999999;
    font-size: 12px;
    line-height: 14px; }

.popup1 {
  max-width: 566px;
  width: 95%;
  padding: 0; }
  .popup1:before {
    content: '';
    position: absolute;
    z-index: -10;
    top: 22px;
    right: -21px;
    bottom: -35px;
    left: 30px;
    background-color: rgba(0, 102, 153, 0.7); }
  .popup1-wrap {
    position: relative;
    background-color: #008abb;
    padding: 56px 25px 41px 48px; }
    .popup1-wrap h2 {
      color: white;
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1px; }
    .popup1-wrap h3 {
      color: white;
      font-size: 14px;
      margin-bottom: 18px; }
    .popup1-wrap p {
      color: white;
      font-size: 12px;
      line-height: 14px;
      max-width: 380px;
      width: 100%; }
      .popup1-wrap p b {
        font-weight: 400;
        text-decoration: underline; }
  .popup1-form {
    margin-bottom: 28px; }

.fancybox-close-small {
  width: 13px;
  height: 13px;
  background: url(../img/close.png) center no-repeat;
  top: 5px;
  right: -18px; }

.fancybox-bg {
  background-color: #000; }

.fancybox-is-open .fancybox-bg {
  opacity: 0.5; }

.popup2 {
  max-width: 942px;
  width: 95%;
  background-color: white;
  padding: 0; }
  .popup2 .fancybox-close-small {
    top: 15px;
    right: 15px;
    background-image: url(../img/close-dark.png); }
  .popup2-container1 {
    padding: 53px 58px 39px 69px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .popup2-wrap1 {
    width: 52%; }
    .popup2-wrap1 h2 {
      color: black;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 19px; }
    .popup2-wrap1 p {
      color: #666666;
      font-size: 14px;
      line-height: 17px; }
  .popup2-wrap2 {
    width: 46.5%;
    margin-top: 37px; }
    .popup2-wrap2 h3 {
      color: black;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      margin-bottom: 23px; }
    .popup2-wrap2 li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 8px; }
      .popup2-wrap2 li:last-child {
        margin-bottom: 0; }
      .popup2-wrap2 li span {
        color: black;
        font-size: 12px;
        width: calc(100% - 80px); }
      .popup2-wrap2 li b {
        color: black;
        font-size: 12px;
        font-weight: 400; }
  .popup2-container2 {
    background-color: #0099cc;
    padding: 37px 20px 33px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .popup2-container2 h2 {
      color: white;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 15px;
      margin-right: 35px; }
    .popup2-container2 p {
      color: white;
      font-size: 12px;
      line-height: 14px;
      max-width: 440px;
      width: 100%;
      padding-left: 7px; }
      .popup2-container2 p b {
        font-weight: 400;
        text-decoration: underline; }
  .popup2-form-wrap {
    max-width: 482px;
    width: 100%; }
  .popup2-form {
    margin-bottom: 9px; }

.swiper-button-prev-style2, .swiper-button-next-style2 {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0;
  width: 53px;
  height: 53px;
  -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.24);
  background: white url(../img/arrow1.png) center no-repeat;
  background-size: 15px;
  border-radius: 50%;
  outline: none; }

.swiper-button-prev-style2, .swiper-container-rtl .swiper-button-next-style2 {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  left: 0; }

.swiper-button-next-style2, .swiper-container-rtl .swiper-button-prev-style2 {
  right: 0; }

.swiper-button-prev-style1, .swiper-button-next-style1 {
  position: static;
  margin-top: 0;
  width: 21px;
  height: 15px;
  background: url(../img/arrow1.png) center no-repeat;
  outline: none; }

.swiper-button-prev-style1, .swiper-container-rtl .swiper-button-next-style1 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.swiper-pagination-style1 {
  position: static;
  width: auto;
  color: black;
  font-family: "CenturyGothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -2px; }

.swiper-menu {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .swiper-menu__item {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid white;
    margin-right: 9px;
    cursor: pointer; }
    .swiper-menu__item:last-child {
      margin-right: 0; }
    .swiper-menu__item.active {
      background-color: #fff; }

.main-form {
  max-width: 482px;
  width: 100%; }
  .main-form h3 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 11px;
    padding-left: 16px; }
  .main-form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-form-wrap .label {
      width: calc(100% - 146px); }
    .main-form-wrap .input {
      border-radius: 300px 0 0 300px; }
    .main-form-wrap .btn2 {
      max-width: 146px;
      width: 100%;
      border-radius: 0 300px 300px 0;
      padding: 18px 5px; }

.label {
  display: block;
  width: 100%;
  position: relative; }
  .label:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 29px;
    width: 11px;
    height: 11px;
    background: url(../img/tel-icon.png) center no-repeat; }

.input {
  display: block;
  width: 100%;
  color: black;
  font-family: "CenturyGothic", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  border-radius: 300px;
  background-color: white;
  border: none;
  padding: 16.5px 10px;
  padding-left: 60px;
  outline: none; }
  .input::-webkit-input-placeholder {
    color: #666666;
    font-family: "CenturyGothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4; }
  .input::-moz-placeholder {
    color: #666666;
    font-family: "CenturyGothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4; }
  .input:-ms-input-placeholder {
    color: #666666;
    font-family: "CenturyGothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4; }
  .input::-ms-input-placeholder {
    color: #666666;
    font-family: "CenturyGothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4; }
  .input::placeholder {
    color: #666666;
    font-family: "CenturyGothic", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4; }

.implant .banner-item-wrap {
  min-height: 690px;
  padding-top: 315px;
  padding-bottom: 0; }

.implant .banner-item-wrap:before {
  content: '';
  position: absolute;
  top: -12px;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/Clip.jpg) center/cover no-repeat;
  opacity: 1; }

.implant .directions-list .one {
  background: url(../img/classic.png) center no-repeat; }

.implant .directions-list .two {
  background: url(../img/two.png) center no-repeat; }

.implant .directions-list .three {
  background: url(../img/three.png) center no-repeat; }

.implant .directions-list .four {
  background: url(../img/four.png) center no-repeat; }

.implant .directions-item-title h3 {
  font-weight: 400; }

.implant .directions-item {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .implant .directions-item .btn2 {
    margin-bottom: 30px; }

.implant .feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.implant .feedback-text {
  text-align: end;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .implant .feedback-text h3 b {
    margin-right: 0; }

.implant .feedback-text_list {
  position: relative; }
  .implant .feedback-text_list li,
  .implant .feedback-text_list p {
    color: white;
    font-size: 18px;
    line-height: 30px; }

.implant .feedback-wrap {
  padding: 40px 30px 20px 77px; }

.implant .line {
  margin: 20px 0 15px;
  height: 6px;
  width: 45px;
  background-color: #fff;
  display: block;
  border-radius: 10px; }

.implant .swiper-slide_img {
  width: 300px;
  height: 534px; }

.implant .cases-item-img {
  text-align: center; }

.implant .result {
  margin-top: 25px;
  margin-left: 15px; }
  .implant .result span {
    margin: 0 20px; }

.warranty h2,
.kinds h2,
.omega h2 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 42px; }

.warranty .warranty_box,
.kinds .warranty_box,
.omega .warranty_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.warranty .warranty_item,
.kinds .warranty_item,
.omega .warranty_item {
  text-align: center;
  width: 20%;
  padding: 20px; }
  .warranty .warranty_item img,
  .kinds .warranty_item img,
  .omega .warranty_item img {
    margin-bottom: 15px; }

.warranty .warranty_text_blue,
.kinds .warranty_text_blue,
.omega .warranty_text_blue {
  font-size: 14px;
  color: #0084b3;
  font-weight: 600;
  margin-bottom: 10px; }

.warranty .warranty_text,
.kinds .warranty_text,
.omega .warranty_text {
  color: #666666;
  font-size: 14px;
  font-weight: 400; }

.kinds {
  position: relative; }

.kinds_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  padding: 30px 50px;
  margin-bottom: 20px;
  background: #fff; }
  .kinds_block .kinds_text_blue {
    font-size: 14px;
    color: #0084b3;
    font-weight: 600;
    line-height: 18px;
    width: 200px;
    margin-right: 80px; }
  .kinds_block .kinds_text_dark {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px; }
  .kinds_block .kinds_text {
    font-size: 14px;
    color: #000;
    font-weight: 400; }

.kinds_button {
  text-align: center;
  margin: 50px 0 60px; }

.kinds_bg {
  background: #f9f9f9;
  position: absolute;
  left: 0;
  right: 0;
  height: 630px; }

.key {
  padding-bottom: 2px; }
  .key .aboutClinic-item {
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.24); }
  .key .aboutClinic-slider .swiper-container {
    overflow: hidden;
    padding: 0; }
  .key .aboutClinic-wrap2 {
    max-width: 450px;
    width: 100%;
    margin-right: -80px;
    margin-top: -220px; }
  .key .aboutClinic-wrap1 {
    margin-bottom: 50px; }
  .key .aboutClinic-slider-nav {
    top: 290px; }
  .key h2 {
    margin-bottom: 70px; }
  .key .kinds_button {
    margin: 10px 0 60px; }
  .key .key_wrap1 {
    margin-bottom: 20px; }

.omega {
  position: relative;
  margin: 80px 0 120px; }
  .omega .omega_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding: 40px;
    z-index: 1;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .omega .omega_item {
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 0 20px;
    width: 20%;
    margin-bottom: 20px; }
    .omega .omega_item img {
      margin-bottom: 30px; }
  .omega .omega-blue_block {
    position: absolute;
    left: 30px;
    top: 170px;
    background-color: #0083b1;
    width: 500px;
    height: 130px; }

@media only screen and (max-width: 1200px) {
  .banner-slider-bg1 {
    left: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .banner-slider-bg2 {
    left: 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .banner-form {
    left: 15px;
    -webkit-transform: none;
    transform: none; }
  .banner-list {
    margin-left: 0; }
  .banner-slider-nav:after {
    display: none; }
  .banner-slider-nav {
    left: 0;
    background-color: #fff;
    -webkit-transform: none;
    transform: none; }
  .banner-title {
    margin-left: 0; } }

@media only screen and (max-width: 1180px) {
  .cases-item-text {
    padding: 38px 15px 31px 15px; }
  .implant .feedback-text {
    margin-right: 45px; }
  .implant .feedback-text .btn2 {
    padding: 20.5px 15.5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .implant .feedback-text h3 b {
    font-size: 25px;
    font-weight: 700; }
  .implant .feedback-text h2 {
    color: white;
    font-size: 23px; }
  .implant .feedback-text_list li, .implant .feedback-text_list p {
    color: white;
    font-size: 18px;
    line-height: 25px; } }

@media only screen and (max-width: 1100px) {
  .kinds_block .kinds_text_blue {
    margin-right: 20px; }
  .key .kinds_button {
    margin: 70px 0 60px; }
  .key .aboutClinic-wrap2 {
    max-width: 450px;
    width: 100%;
    margin-right: auto;
    margin-top: 0; }
  .aboutClinic-wrap1 {
    width: 100%; }
  .aboutClinic-wrap2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto; }
  .aboutClinic-list2:after {
    display: none; }
  .cases-item-wrap {
    max-width: 400px; }
  .cases-item-text {
    width: calc(100% - 400px);
    margin-top: 0; }
  .cases-list {
    margin-bottom: 30px; }
  .cases-list li {
    margin-bottom: 15px; }
  .cost .tab_list {
    margin-top: -15px; }
  .cost .tab_list li {
    width: 24%;
    margin-top: 15px; }
  .cost .tab_list a {
    display: block;
    padding: 13.5px 5px;
    text-align: center; }
  .cost .tab_list a:after {
    display: none; } }

@media only screen and (max-width: 1000px) {
  .main-header {
    padding: 15px 0; }
  .main-header-wrap {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main-header-adress-wrap {
    margin: 10px 0; }
  .banner-title {
    max-width: 450px; }
  .banner-title h1 {
    font-size: 40px;
    line-height: 1.2; }
  .banner-item-wrap {
    padding-top: 220px;
    padding-bottom: 135px;
    min-height: 585px; }
  .banner-form {
    bottom: 120px; }
  .directions-item {
    width: 48%; }
  .main-footer-wrap1 p {
    margin-left: 0;
    margin-right: 0; } }

@media only screen and (max-width: 950px) {
  .cases-item-text {
    width: 100%; }
  .cases-item-wrap {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    margin-bottom: 30px; }
  .cases-item-wrap:after {
    display: none; }
  .cost-tab {
    padding: 30px 10px; }
  .omega .omega_item,
  .warranty .warranty_item {
    width: 25%; } }

@media only screen and (max-width: 900px) {
  .directions,
  .feedback,
  .aboutClinic,
  .gallery,
  .cases,
  .cost,
  .specialists {
    padding: 30px 0; }
  .reviews,
  .contacts .container {
    padding-top: 30px; }
  .questions {
    padding-bottom: 50px; }
  .feedback-wrap {
    padding: 50px 15px; }
  .specialists-slider1 {
    padding: 0;
    padding-bottom: 70px; }
    .specialists-slider1 .swiper-button-prev-style2, .specialists-slider1 .swiper-button-next-style2 {
      top: auto;
      bottom: -26px; }
  .popup2-container2 h2 {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px; } }

@media only screen and (max-width: 800px) {
  .specialists-item-text {
    width: 100%;
    padding: 0; }
  .specialists-item-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; }
  .reviews-slider .swiper-container {
    margin-left: -35px;
    margin-right: -35px; }
  .reviews-slider {
    padding-bottom: 50px; }
    .reviews-slider .swiper-button-prev-style2, .reviews-slider .swiper-button-next-style2 {
      bottom: -26px;
      top: auto; }
  .reviews-item {
    padding: 30px 15px; }
  .main-footer-wrap1 p {
    max-width: none;
    text-align: center;
    margin: 15px 0; }
  .main-footer-wrap1 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .popup2-container1,
  .popup2-container2 {
    padding: 30px 10px; } }

@media only screen and (max-width: 768px) {
  .kinds_block .kinds_text_blue {
    margin-right: 0px; }
  .kinds_item_one {
    width: 100%;
    margin-bottom: 10px; }
  .kinds_text_dark {
    margin-bottom: 5px; }
  .kinds_block {
    padding: 30px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .key .kinds_button {
    margin: 60px 0 40px; }
  .kinds_button .btn2 {
    padding: 18px 25px; }
  .key .aboutClinic-slider-nav {
    top: 240px; }
  .implant .feedback-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .implant .feedback-text {
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: left;
    margin-top: 15px; }
  .implant .feedback-text h3 {
    margin-bottom: 10px; }
  .implant .feedback-wrap {
    padding: 40px 20px 20px 20px; }
  .implant .feedback-wrap-bg {
    left: -30px; }
  .omega .omega_item,
  .warranty .warranty_item {
    width: 50%; } }

@media only screen and (max-width: 700px) {
  .directions-item {
    width: 100%;
    padding: 30px 10px;
    min-height: initial; }
  .directions-item-title i {
    max-width: 80px; }
  .directions-item-title h3 {
    width: calc(100% - 90px); }
  .directions-item-title {
    min-height: initial;
    margin-bottom: 15px; }
  .aboutClinic-list2 li {
    width: 48%;
    margin-top: 25px; }
  .aboutClinic-list2 {
    margin-top: -25px; }
  .aboutClinic-list1 {
    padding: 40px 10px;
    margin-bottom: 40px; } }

@media only screen and (max-width: 650px) {
  .cost-list li span {
    width: 100%;
    margin-bottom: 15px; }
  .cost-list li span i {
    margin-left: 5px; }
  .popup1:before {
    display: none; }
  .popup1 .fancybox-close-small {
    top: 10px;
    right: 10px; }
  .popup1-wrap {
    padding: 50px 10px; }
  .popup2-wrap1 {
    width: 100%;
    margin-bottom: 30px; }
  .popup2-wrap2 {
    width: 100%;
    margin-top: 0; } }

@media only screen and (max-width: 600px) {
  .banner-slider-nav {
    display: none; }
  .container {
    padding-left: 10px;
    padding-right: 10px; }
  .banner-title h1 {
    font-size: 27px; }
  .banner-title {
    max-width: 300px; }
  .banner-form {
    left: 10px; }
  .banner-item {
    width: 48%; }
  .banner-item-wrap {
    padding-bottom: 185px;
    min-height: 520px; }
  .banner-slider-bg1,
  .banner-slider-bg2 {
    display: none; }
  .aboutClinic-list1 {
    margin-top: -25px; }
  .aboutClinic-list1 li {
    width: 48%;
    margin-top: 25px;
    text-align: center; }
  .gallery-slider {
    padding: 0;
    padding-bottom: 50px; }
    .gallery-slider .swiper-button-prev-style2, .gallery-slider .swiper-button-next-style2 {
      top: auto;
      bottom: 0; }
  .reviews-item-text {
    width: 100%;
    padding: 0; }
  .reviews-item-text p:before,
  .reviews-item-text p:after {
    display: none; }
  .reviews-item-text p {
    padding: 0; }
  .reviews-item-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
  .contacts-item {
    width: 100%;
    margin-top: 25px; }
  .contacts-list {
    margin-top: -25px; }
  .cost .tab_list li {
    width: 30%; } }

@media only screen and (max-width: 550px) {
  .banner-form {
    max-width: none;
    width: calc(100% - 20px); }
  .main-form-wrap .btn2 {
    max-width: 100px; }
  .main-form-wrap .label {
    width: calc(100% - 100px); } }

@media only screen and (max-width: 500px) {
  .aboutClinic-slider .swiper-container {
    padding: 30px;
    margin-right: -30px;
    margin-left: -30px; }
  .aboutClinic-wrap2 {
    max-width: 300px; }
  .aboutClinic-item {
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.24); }
  .aboutClinic-slider {
    padding-bottom: 35px; }
  .cases-item-doctor {
    max-width: 225px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .cases-item-doctor-info {
    margin-bottom: 15px; }
  .questions-item .open_toggle.active {
    padding: 10px;
    padding-right: 60px; }
  .questions-item .block_toggle {
    padding: 10px; }
  .questions-item {
    border-radius: 10px; } }

@media only screen and (max-width: 450px) {
  .omega .omega_item,
  .warranty .warranty_item {
    width: 100%; }
  .banner-item {
    width: 100%; }
  .cases-item-wrap {
    max-width: 300px; }
  .cost .tab_list li {
    width: 48%; }
  .implant .directions-item .btn2 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 12px; }
  .implant .banner-item-wrap {
    min-height: 570px;
    padding-top: 220px;
    padding-bottom: 0; } }

@media only screen and (max-width: 400px) {
  .main-header-tel {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  .main-header-feedback .btn1 {
    margin-left: auto;
    margin-right: auto; }
  .feedback-text .btn2 {
    padding: 20.5px 5px;
    width: 100%;
    text-align: center; }
  .aboutClinic-list2 li {
    width: 100%; }
  .main-footer-logo-text {
    max-width: 150px;
    font-size: 12px;
    line-height: 16px; }
  .specialists-item-text .btn2 {
    padding: 19px 5px;
    width: 100%;
    text-align: center; } }
